body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    background:linear-gradient(45deg, #459bca81, #023f9b77),url(./images/header-bg.jpeg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 80vh;
}

a #logo {
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0px 10px 20px;
    
}

nav {
    /* this is to fix the slide menu hyperlinks from displaying inline when closing */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* end */
    position: fixed;
    box-sizing: border-box;
    top: 50px;
    right: -100vw;
    z-index: 9999;
    width: 75vw;
    height: 200px;
    text-align: center;
    background:#ffffff;
    transition: all 1s;
}

nav.open {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0;
  }

nav *:first-child {
    position: fixed;
    cursor: pointer;
    top: 12px;
    right: 20px;
    color: #ffffff;
    font-size: 1.4em;
 
}

nav *:first-child:hover {
    color: black;
}

nav a {
    font-size: 1.2em;
    color:#222222;
    font-family: arial;
    text-decoration: none;
    padding: 7px;

}

nav a:hover {
    color:#3161ff;
}

.overText {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overTextH1 {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
}

.overTextSmall {
    color: #ffffff;
    text-align: center;
}

/* #navigation {
    font-size: 0.7em;
   
}

#navigation ul li {
    list-style: none;
    display: inline;
}

ul a {
    text-decoration: none;
    color: black;
} */

