body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    background:linear-gradient(45deg,#044099cc, #2d7bc4f5),url(./images/hero.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
}

nav {
    height: 20px;
}

#logo {
    font-size: 1.5em;
    font-weight: 900;
    padding: 10px 0px 10px 20px;
    color: #fff;
    float: left;
}

.hamIcon {
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px 10px 0px;
    float: right;
}

#navigation {
    font-size: 0.7em;
   
}

#navigation ul li {
    list-style: none;
    display: inline;
}

ul a {
    text-decoration: none;
    color: black;
}

.hamIcon:hover {
    color: black;
}

@media 